h1 {
    color: #00008B;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    padding: 10px;
}

h4 {
    border-bottom: 2px solid black;
    padding: 5px;
    margin-bottom: 20px;
}

.nav {
    margin: 10px;

}

#tableTitle {
    font-weight: bold;
    font-style: italic;
}

#submitButton {
    background-color: blue;
    opacity: 70%;
}

td {
    border: 1px solid black;
}